<header class="container">
    <div class="container-list-right">
        <ul class="list-right">
            <a href="">
                <li>Inicio</li>
            </a>
            <a href="">
                <li>Sobre nós</li>
            </a>
            <a href="">
                <li>Contato</li>
            </a>
        </ul>
    </div>
    <div class="container-list-left">
        <ul class="list-left">
            <a href="">
                <li>Explorar</li>
            </a>
            <a href="">
                <li>Minha conta</li>
            </a>
        </ul>
    </div>
</header>